# dotbot
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
	ignore = dirty
# 插件
[submodule "meta/dotbot-apt"]
	path = meta/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt.git
# snap 在 Ubuntu18.04 以后自带的一个包管理器
[submodule "meta/dotbot-snap"]
	path = meta/dotbot-snap
	url = https://github.com/DrDynamic/dotbot-snap.git
[submodule "terminal/colors/base16-shell"]
	path = terminal/colors/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "meta/dotbot-scoop"]
	path = meta/dotbot-scoop
	url = https://github.com/JamJar00/dotbot-scoop.git
