Host A1
  HostName 192.168.68.2
  Port 8022
  User admin
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes

Host A2
  HostName 192.168.68.4
  User root
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes

Host A3
  HostName 192.168.68.11
  User root
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes
