Host A1
  # HostName 192.168.68.2
  # HostName 100.90.27.123
  HostName 10.0.0.2
  Port 8022
  User admin
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes

Host A2
  HostName 192.168.68.4
  User root
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes

Host A3
  # HostName 192.168.68.11
  # HostName 10.0.0.11
  HostName 10.0.0.14
  User root
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes
